body {
  margin: 1em;
  background: #e4e0ee;
  font: 9pt Optima, sans-serif; }

#logo {
  margin: 0.5em 1em;
  text-align: center;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #aa99aa; }
  #logo h1 {
    font: 150% bold "Futura", "sans-serif";
    color: #aa0000; }
    #logo h1 #rex {
      zfont-size: 90%;
      color: #0000aa; }

#inputs {
  display: flex;
  flex-direction: column;
  width: calc(100% - 10em); }

@keyframes godown {
  from {
    top: 8em;
    right: 1em;
    transform: rotateZ(0deg); }

  50% {
    top: 10em;
    right: 5em; }

  to {
    top: 12em;
    right: 1em; } }

#go {
  display: inline-block;
  position: absolute;
  top: 8em;
  right: 1em;
  width: 6em;
  text-align: center;
  border: 1px solid black;
  padding: 0.5em;
  background: #dddddd;
  margin: 1em;
  box-shadow: 2px 2px 1px rgba(100, 100, 100, 0.5);
  cursor: pointer;
  animation-duration: 900ms;
  animation-fill-mode: both; }
  #go:hover {
    background: #eeeeee; }

.label {
  margin: 1em 0 0 0;
  font-weight: bold; }

.textarea {
  outline: 1px solid #aaaaaa;
  background: white;
  font-family: "Menlo", "Droid Sans Mono", "Courier", monospace;
  margin: 0.5em 0 0.5em 1.5em;
  padding: 1px 3px; }
  .textarea#string {
    min-height: calc(3em + 6px); }
  .textarea#results {
    background: #eeeeee;
    min-height: calc(3em + 6px);
    color: #885588;
    padding: 2px 4px 5px 4px;
    outline: 2px inset #aaaaaa; }

#re_area {
  display: flex;
  align-items: center; }
  #re_area #re {
    flex: 1 1 auto;
    margin: 0; }
  #re_area #flags {
    flex: 0 0 4em;
    margin: 0; }
  #re_area .slash {
    flex: 0 0 1em;
    font-weight: bold;
    font-size: 150%;
    text-align: center; }

.match {
  border-bottom: 2px solid #aaccaa;
  border-right: 1px solid #aaccaa;
  border-left: 1px solid transparent;
  padding-right: 1px;
  margin-right: 2px; }
